<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Стартовая страница</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="btns">
    <a class="btns-link" href="/user">Пользователь</a>
    <a class="btns-link" href="/executor">Исполнитель</a>
    <a class="btns-link" href="/boss">Руководитель</a>
  </div>
</body>

</html>